<div class="sidebar">
  <div class="sidebar-title">CATEGORIES</div>
  <div class="sidebar-scrollable">
    <a href="#">AUSSIE RULES</a>
    <a href="#">FOOTBALL</a>
    <a href="#">BASKETBALL</a>
    <a href="#">BASEBALL</a>
    <a href="#">TEAM A</a>
    <a href="#">TEAM B</a>
    <a href="#">TEAM C</a>
    <a href="#">CRICKET</a>
    <a href="#">GOLF</a>
    <a href="#">HOCKEY</a>
    <a href="#">RUGBY</a>
    <a href="#">TENNIS</a>
    <a href="#">SOCCER</a>
    <a href="#">MOTORSPORTS</a>
    <a href="#">ESPORTS</a>
  </div>
</div>